html,
body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  background-color: hsl(50, 100%, 98%);
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.headContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #3a35411f;
  padding: 12px 120px 12px 120px;
  gap: 36px;
  background-color: #ffffff;
  border: #3a35411f 1px solid;
}

.navbar {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar a {
  letter-spacing: 0.2px;
  text-decoration: none;
  color: #333333ad;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}

.profile {
  width: 44px;
  height: 44px;
  border-radius: 10px;
}

.logo {
  width: 237px;
  height: 56px;
  gap: 60px;
}

.toggleMenu {
  display: none;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
  height: 100vh;
  width: 100%;
  min-height: 944px;
  padding: 64px 120px;
}

.wrapperForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 36px;
  gap: 36px;
  max-width: 590px;
  width: 100%;
  border: #f1f1f1 1px solid;
}

.formTitle {
  width: 100%;
  max-width: 525px;
  gap: 10px;
}

.formTitle h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 110.00000000000001%;
  letter-spacing: 0;
  text-align: center;
  color: #222325;
}

.formTitle p {
  font-weight: 400;
  size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  text-align: center;
  color: #333333ad;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 518px;
  gap: 24px;
}

.upperForm {
  gap: 24px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.formLabel {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #4a505c;
}

.formInput {
  width: 100%;
  max-width: 518px;
  height: 48px;
  border-radius: 6px;
  border: #f1f1f1 1px solid;
  padding: 4px 10px 4px 10px;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  font-weight: 400;
}

.jenisKelamin {
  display: none;
}

.passwordContainer {
  position: relative;
}

.passwordEye {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-35%);
  width: 24px;
  cursor: pointer;
  margin-left: 10px;
}

.lupaPassword {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  text-decoration: none;
  color: #4a505c;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.greenButton {
  max-width: 518px;
  width: 100%;
  height: 42px;
  background-color: #3ecf4c;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.2px;
}

.lightGreenButton {
  width: 100%;
  height: 42px;
  background-color: #e2fcd9cc;
  border-radius: 10px;
  border: none;
}

.lightGreenButton a {
  text-decoration: none;
  color: #3ecf4c;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.2px;
}

.or {
  display: flex;
  gap: 10px;
  align-items: center;
}

.or hr {
  width: 100%;
}

.or span {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #4a505c;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.google {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 42px;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  border: #f1f1f1 1px solid;
  color: #4a505c;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.2px;
}

.google svg {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.phoneWrapper {
  display: flex;
  gap: 10px;
}

#countrySelector {
  height: 40px;
  width: 1px;
  border-radius: 5px;
  border: white 1px solid;
  display: flex;
}

#localNumber {
  width: 100%;
  border: #ccc 1px solid;
  border-radius: 5px;
}

.required::after {
  content: " *";
  color: red;
  font-weight: bold;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 64px 120px 64px 120px;
  gap: 64px;
}

.upperCardContainer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../public/images/upperCard.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 82px 140px 82px 140px;
  gap: 24px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  max-height: 400px;
}

.textBox {
  width: 100%;
  max-width: 920px;
  gap: 12px;
}

.textBox h1 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 110.00000000000001%;
  text-align: center;
  color: #ffffff;
}

.textBox p {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
}

.upperCardContainer button {
  padding: 10px 26px 10px 26px;
  gap: 8px;
  border-radius: 10px;
  background-color: #3ecf4c;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #ffffff;
  text-align: center;
}

.cardSection {
  gap: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 120px 0 120px;
  box-sizing: border-box;
}

.textCardSec {
  gap: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.textCardSec h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 110.00000000000001%;
  letter-spacing: 0;
  text-align: left;
  color: #222325;
  margin-bottom: 0;
  margin-top: 0;
}

.textCardSec h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  text-align: left;
  color: #333333ad;
  margin-top: 0;
}

.tabClass {
  display: flex;
  gap: 20px;
}

#semuaKelas {
  color: #f64920;
}

.kelas h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  text-align: left;
  color: #333333ad;
}

.kelas > hr {
  height: 6px;
  width: 50%;
  background-color: #f64920;
  border-radius: 10px;
  margin-left: 0px;
}

.wrapperCard {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-bottom: 24px;
}

.cardCourse {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 384px;
  border-radius: 10px;
  padding: 20px;
  gap: 16px;
  background-color: #ffffff;
  border: #3a35411f 1px solid;
}

.card img {
  max-width: 344px;
  width: 100%;
  height: 193px;
  border-radius: 10px;
}

.tittleCard {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tittleCard h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0;
  color: #222325;
  margin-top: 10px;
  margin-bottom: 0;
}

.tittleCard p {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #333333ad;
  margin-top: 5px;
  margin-bottom: 0;
}

.avatar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.avatar > img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin-top: 10px;
}

.avatarName h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #222325;
  margin-bottom: 0;
  margin-top: 10px;
}

.avatarName p {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #333333ad;
  margin-top: 0;
  margin-bottom: 0;
}

.ratingContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ratingPrice {
  gap: 8px;
  display: flex;
  flex-direction: row;
}

.rating > img {
  width: 15px;
  height: 14.25px;
  gap: 10px;
  top: 1.5px;
  left: 1.5px;
  margin-top: 14px;
  margin-bottom: 0;
}

.ratingPrice p {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
  text-decoration: underline;
  margin-bottom: 0;
  color: #333333ad;
}

.price p {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0;
  color: #3ecf4c;
  margin-top: 14px;
  margin-bottom: 0;
}

.lowerCardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../public/images/lowerCard.jpg");
  width: 100%;
  max-width: 1200px;
  height: 400px;
  background-position: center;
  background-size: cover;
}

.lowerCard {
  gap: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newsLetter > h1 {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.2px;
  text-align: center;
  color: #c1c2c4;
}

.lineNews {
  gap: 10px;
}

.lineNews h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 110.00000000000001%;
  color: white;
  text-align: center;
}

.lineNews p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  text-align: center;
  color: #f4f5fa;
}

.subscribeEmail {
  border-radius: 10px;
  padding: 8px 8px 8px 32px;
  gap: 20px;
  width: 100%;
  max-width: 525px;
  display: flex;
  align-items: center;
}

.line {
  display: flex;
  justify-content: space-between;
  max-width: 525px;
  width: 100%;
  background-color: white;
  height: 58px;
  border-radius: 10px;
  padding: 8px 8px 8px 32px;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.line > h1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  margin: 0px;
  color: #333333ad;
}

.line > button {
  border-radius: 10px;
  width: 100%;
  max-width: 132px;
  height: 42px;
  background-color: #ffbd3a;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #ffffff;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #3a35411f;
  padding: 60px 120px 60px 120px;
  gap: 20px;
  background-color: #ffffff;
}

.textWrapperFooter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.leftFooter {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.leftFooter > img {
  width: 204px;
  height: 56px;
}

.address {
  gap: 12px;
}

.address > h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #222325;
}

.address > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #222325;
}

.rightFooter {
  display: flex;
  gap: 48px;
}

.rightFooter h1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #222325;
}

.listKategori {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.rightFooter a {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #333333ad;
  text-decoration: none;
}

.lineFooter {
  width: 100%;
  padding-top: 32px;
  max-width: 1200px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.socialMedia {
  gap: 15px;
}

.copyright > h1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #333333ad;
}

.socialMedia img {
  width: 20px;
  height: 20px;
}

.rightArrow {
  display: none;
}

/* Phone */
@media (max-width: 600px) {
  .headContainer {
    border-top: 1px;
    border-bottom: 1px;
    display: flex;
    justify-content: space-between;
    padding: 16px 24px 16px 24px;
    background-color: #ffffff;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: #f1f1f1;
    box-shadow: 0px 0px 1px 0px #3e434a4f;
    box-shadow: 4px 8px 12px 0px #3e434a26;
  }

  .navbar {
    width: 152px;
    height: 42px;
  }

  .navbar img {
    width: 152px;
    height: 42px;
  }

  .navbar a {
    display: none;
  }

  .toggleMenu {
    display: flex;
  }

  .formContainer {
    padding: 28px 20px 28px 20px;
    gap: 20px;
    justify-content: flex-start;
  }

  .wrapperForm {
    padding: 20px;
    gap: 20px;
  }

  .formTittle {
    gap: 10px;
  }

  .formTitle h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 110.00000000000001%;
    letter-spacing: 0;
    color: #222325;
    margin-top: 0px;
  }

  .formTitle p {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #333333ad;
    margin-bottom: 0px;
  }

  .form {
    gap: 20px;
  }

  .upperForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .formGroup {
    margin: 0px;
  }

  .formInput {
    font-size: 14px;
  }

  .jenisKelamin {
    display: flex;
  }

  .formLabel {
    font-weight: 400;
    line-height: 140%;
    font-size: 14px;
    padding-right: 16px;
    padding-bottom: 4px;
    gap: 4px;
  }

  .lupaPassword {
    font-size: 14px;
    margin-bottom: 0px;
  }

  .greenButton {
    height: 34px;
    font-size: 14px;
  }

  .lightGreenButton {
    height: 34px;
    font-size: 14px;
  }

  .or span {
    font-size: 14px;
  }

  .google {
    padding: 8px 26px 8px 26px;
    gap: 8px;
    font-size: 14px;
    height: 36px;
    margin-top: 0px;
  }

  .profile {
    display: none;
  }

  .contentContainer {
    padding: 28px 20px 28px 20px;
    gap: 20px;
    justify-content: flex-start;
  }

  .upperCardContainer {
    padding: 64px 20px 64px 20px;
    gap: 24px;
    max-width: 320px;
    width: 100%;
  }

  #card1 {
    flex-direction: column-reverse;
  }

  #card21 {
    order: 1;
  }

  #card31 {
    order: 2;
  }

  #card32 {
    order: 1;
  }

  .textBox {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .textBox > h1 {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .textBox > p {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .upperCardContainer button {
    height: 40px;
    font-size: 12px;
    font-weight: 400;
  }

  .cardSection {
    padding: 0px;
  }

  .cardCourse {
    padding: 16px;
    gap: 8px;
    display: block;
    background-color: white;
    max-width: 320px;
    width: 100%;
  }

  .tittleCard p {
    display: none;
  }

  .tittleCard h6 {
    font-size: 16px;
  }

  .cardOverlay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
  }

  .cardOverlay2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .card img {
    width: 82px;
    height: 82px;
  }

  .avatar img {
    width: 36px;
    height: 36px;
    margin: 0px;
  }

  .avatarName h2 {
    font-size: 14px;
    margin: 0px;
  }

  .avatarName p {
    font-size: 12px;
  }

  .rating > img {
    width: 13px;
    height: 12px;
  }

  .rating p {
    font-size: 12px;
  }

  .ratingPrice {
    justify-content: center;
    align-items: center;
  }

  .price p {
    font-size: 20px;
  }

  .mainCardContainer {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
  }

  .textCardSec {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
  }

  .textCardSec h1 {
    font-size: 24px;
  }

  .textCardSec h2 {
    font-size: 14px;
  }

  .tabClass {
    display: flex;
    justify-content: flex-start;
    width: 563px;
    margin-bottom: 15px;
  }

  .tabClass .kelas {
    gap: 6px;
    margin-top: 10px;
  }

  .kelas h2 {
    font-size: 14px;
  }

  .wrapperCard {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .lowerCardContainer {
    padding-right: 20px;
    padding-left: 20px;
    width: 320px;
  }

  .newsLetter {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .newsLetter h1 {
    font-size: 16px;
    margin: 0px;
  }

  .lineNews {
    display: flex;
    flex-direction: column;
  }

  .lineNews h1 {
    font-size: 24px;
  }

  .lineNews p {
    font-size: 14px;
  }

  .subscribeEmail {
    gap: 16px;
    height: 96px;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .line {
    max-width: 280px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 10px 8px 10px 12px;
    background-color: white;
  }

  .line h1 {
    font-weight: 400;
    font-size: 14px;
    margin: 0px;
  }

  .subscribeEmail button {
    width: 100%;
    max-width: 280px;
    height: 40px;
  }

  footer {
    padding: 20px;
    gap: 16px;
  }

  .leftFooter {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .leftFooter > img {
    width: 170px;
    height: 36px;
  }

  .address > h1 {
    margin: 0px;
    font-size: 14px;
  }

  .address > p {
    margin: 0px;
    font-size: 14px;
  }
  .textWrapperFooter {
    flex-direction: column;
    gap: 16px;
  }

  .listKategori {
    display: none;
  }

  .rightFooter {
    flex-direction: column;
    gap: 12px;
  }

  .fKategori {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .fKategori h1 {
    margin: 0px;
  }

  .rightArrow {
    width: 13px;
    height: 12px;
    display: flex;
  }

  .lineFooter {
    padding: 0px;
  }

  .copyright {
    flex-direction: column-reverse;
    gap: 12px;
  }
  .socialMedia img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

  .copyright > h1 {
    margin: 0px;
  }
}
