html,
body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  background-color: hsl(50, 100%, 98%);
}

* {
  box-sizing: border-box;
}

.headContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  border-bottom: 1px;
  padding: 12px 120px 12px 120px;
  gap: 36px;
  background-color: #ffffff;
  border: #3a35411f 1px solid;
}

.navbar {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar a {
  letter-spacing: 0.2px;
  text-decoration: none;
  color: #333333ad;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}

.profile {
  width: 44px;
  height: 44px;
  border-radius: 10px;
}

.navList {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  gap: 40px;
  margin-right: 10rem;
}

.logo {
  width: 237px;
  height: 56px;
  gap: 60px;
}

.toggleMenu {
  display: none;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
  height: 100vh;
  width: 100%;
  min-height: 944px;
  padding: 64px 120px;
}

.wrapperForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 36px;
  gap: 36px;
  max-width: 590px;
  width: 100%;
  border: #f1f1f1 1px solid;
}

.formTitle {
  width: 100%;
  max-width: 525px;
  gap: 10px;
}

.formTitle h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  size: 32px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-align: center;
  color: #222325;
}

.formTitle p {
  font-weight: 400;
  size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  text-align: center;
  color: #333333ad;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 518px;
  gap: 24px;
}

.upperForm {
  gap: 24px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.formLabel {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #4a505c;
}

.formInput {
  width: 100%;
  max-width: 518px;
  height: 48px;
  border-radius: 6px;
  border: #f1f1f1 1px solid;
}

.passwordContainer {
  position: relative;
}

.passwordEye {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-35%);
  width: 24px;
  cursor: pointer;
  margin-left: 10px;
}

.lupaPassword {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  text-decoration: none;
  color: #4a505c;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.greenButton {
  width: 518px;
  height: 42px;
  background-color: #3ecf4c;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.2px;
}

.lightGreenButton {
  width: 100%;
  height: 42px;
  background-color: #e2fcd9cc;
  border-radius: 10px;
  border: none;
}

.lightGreenButton a {
  text-decoration: none;
  color: #3ecf4c;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.2px;
}

.or {
  display: flex;
  gap: 10px;
  align-items: center;
}

.or hr {
  width: 100%;
}

.or span {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #4a505c;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.google {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 42px;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  border: #f1f1f1 1px solid;
  color: #4a505c;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.2px;
}

.google svg {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.phoneWrapper {
  display: flex;
  gap: 10px;
}

#countrySelector {
  height: 40px;
  width: 1px;
  border-radius: 5px;
  border: white 1px solid;
  display: flex;
}

#localNumber {
  width: 100%;
  border: #ccc 1px solid;
  border-radius: 5px;
}

.required::after {
  content: " *";
  color: red;
  font-weight: bold;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 64px 120px 64px 120px;
  gap: 64px;
}

.upperCardContainer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../public/images/upperCard.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 82px 140px 82px 140px;
  gap: 24px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  max-height: 400px;
}

.textBox {
  width: 100%;
  max-width: 920px;
  gap: 12px;
}

.textBox h1 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 110.00000000000001%;
  text-align: center;
  color: #ffffff;
}

.textBox p {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
}

.upperCardContainer button {
  padding: 10px 26px 10px 26px;
  gap: 8px;
  border-radius: 10px;
  background-color: #3ecf4c;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #ffffff;
  text-align: center;
}

.cardSection {
  gap: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 120px 0 120px;
  box-sizing: border-box;
}

.textCardSec {
  gap: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.textCardSec h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 110.00000000000001%;
  letter-spacing: 0;
  text-align: left;
  color: #222325;
  margin-bottom: 0;
  margin-top: 0;
}

.textCardSec h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  text-align: left;
  color: #333333ad;
  margin-top: 0;
}

.tabClass {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.kelas h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  text-align: left;
  color: #333333ad;
}

.wrapperCard {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-bottom: 24px;
}

.cardCourse {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 384px;
  border-radius: 10px;
  padding: 20px;
  gap: 16px;
  background-color: #ffffff;
  border: #3a35411f 1px solid;
}

.card > img {
  width: 344px;
  height: 193px;
  border-radius: 10px;
}

.tittleCard {
  gap: 8px;
}

.tittleCard h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0;
  color: #222325;
  margin-top: 10px;
  margin-bottom: 0;
}

.tittleCard p {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #333333ad;
  margin-top: 5px;
  margin-bottom: 0;
}

.avatar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.avatar > img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin-top: 10px;
}

.avatarName h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #222325;
  margin-bottom: 0;
  margin-top: 10px;
}

.avatarName p {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #333333ad;
  margin-top: 0;
  margin-bottom: 0;
}

.ratingContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ratingPrice {
  gap: 8px;
  display: flex;
  flex-direction: row;
}

.rating > img {
  width: 15px;
  height: 14.25px;
  gap: 10px;
  top: 1.5px;
  left: 1.5px;
  margin-top: 14px;
  margin-bottom: 0;
}

.ratingPrice p {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
  text-decoration: underline;
  margin-bottom: 0;
  color: #333333ad;
}

.price p {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0;
  color: #3ecf4c;
  margin-top: 14px;
  margin-bottom: 0;
}

.lowerCardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../public/images/lowerCard.jpg");
  width: 100%;
  max-width: 1200px;
  height: 400px;
  background-position: center;
  background-size: cover;
}

.lowerCard {
  gap: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newsLetter > h1 {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.2px;
  text-align: center;
  color: #c1c2c4;
}

.lineNews {
  gap: 10px;
}

.lineNews h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 110.00000000000001%;
  color: white;
  text-align: center;
}

.lineNews p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  text-align: center;
  color: #f4f5fa;
}

.subscribeEmail {
  border-radius: 10px;
  padding: 8px 8px 8px 32px;
  gap: 20px;
  background-color: #ffffff;
  width: 100%;
  max-width: 525px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.subscribeEmail > h1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #333333ad;
}

.subscribeEmail > button {
  border-radius: 10px;
  width: 100%;
  max-width: 132px;
  height: 42px;
  background-color: #ffbd3a;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #ffffff;
}

/* Phone */
@media (max-width: 600px) {
  .profile {
    display: none;
  }
  .logo {
    margin-left: 0;
    width: 13rem;
  }
  #kategori {
    display: none;
  }
  .mobileMenu {
    display: block;
    margin-right: 1rem;
  }
  .toggleMenu {
    margin-left: auto;
    display: flex;
    margin-top: 13px;
    align-items: center;
  }
  .navList {
    margin-right: 0;
  }
  .wrapperForm {
    width: 75%;
  }
  .navbar {
    box-shadow: black 0px 5px 40px 0px;
  }
}
